body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

/* Trying out Modal stuff*/

.taskCard{
  display: none;
  position: fixed;
  /* z-index specifies the stack order of an element*/
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0,0.4);
}

.btn-close{
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.btn-close:hover{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content{
  border: none;
}
.modal-dialog{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 80%;
}
#addTaskButton{
  align-content: center;
  background-color: green;
}

}

#taskName{
  display: inline-block;
  width: 40%;
}

#taskDate{
  display: inline-block;
  width: 4%;
}